# -----------------------------------------------------------------------------
# Frontend Application Environment Variables
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_NAME="Sakyi Health and Wellness"
NEXT_PUBLIC_APP_ENV="development"
NEXT_PUBLIC_APP_URL="https://sakyihealthandwellness.com"

# -----------------------------------------------------------------------------
# Backend API Environment Variables
# -----------------------------------------------------------------------------
NEXT_PUBLIC_API_DOMAIN_ENDPOINT="https://api.sakyihealthandwellness.com"
NEXT_PUBLIC_API_VERSION_ENDPOINT="https://api.sakyihealthandwellness.com/v1"
NEXT_PUBLIC_API_VERSION="v1"

NEXT_PUBLIC_REVERB_HOST="localhost"
NEXT_PUBLIC_REVERB_PORT=8080
NEXT_PUBLIC_REVERB_SCHEME=http
NEXT_PUBLIC_REVERB_APP_KEY=local-app-key

# -----------------------------------------------------------------------------
# CI / E2E (Playwright) Environment Variables
# -----------------------------------------------------------------------------
PLAYWRIGHT_BASE_URL="http://localhost:3000"
# PLAYWRIGHT_TEST_PORT="3001"

# -----------------------------------------------------------------------------
# Private Environment Variables
# -----------------------------------------------------------------------------
PROXY_ADMIN_SESSION_COOKIE_NAMES="example_session"